body {
    color:white;
    background-color: black;
    margin:0;
    height:100%;
}
#topBar > button {
    background:none;
    padding:0;
    border:1px solid white;
    border-radius: 6px;
    cursor:pointer;
    font:inherit;
    color:white;
    transition-duration: 250ms;
}
#topBar {
    color: white;
    display: flex;
    flex-wrap: nowrap;
    overflow-x:auto;
    gap:12px;
    width:100%;
    &::-webkit-scrollbar{
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#topBar > * {
    display:auto;
    flex: 0 0 auto;
    width:auto;
}
#topBar > button:hover {
    background-color: gray;
    transition-duration: 250ms;
}
#sideBarLeft {
    border:white;
    width:19%;
}
#mainBody {
    display:flex;
    width:100%;
    height:100%;
}
#controlPanelBody {
    width:100%;
    height:100%;
    margin-left: 5%;
}
#topbar .tab.active {
    font-weight: bold;
    border-bottom: 2px solid currentColor;
}